{% extends "base.html" %}
{% load static %}
{% block body %}
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Создать новый акт</a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Акт ввода в эксплуатацию</a></li>
    <li><a class="dropdown-item" href="{% url "act_technical:act_add" %}">Акт технического состояния</a></li>
    <li><a class="dropdown-item" href="#">Отчет о выполненой работе</a></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Фильтр</a>
  <div class="dropdown-menu">
    <form class="px-4 py-3">
      <div class="form-floating">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
          <option selected>ЛПУ</option>
          <option value="1">ГАУЗ СО ГБ№24</option>
          <option value="2">ГАУЗ СО ГБ№36</option>
          <option value="3">ГАУЗ СО ГБ№7</option>
        </select>

      </div>
      <div class="mb-6">
          <label for="date">Выберите дату от</label>
          <input type="date" id="date">
          <label for="date">до</label>
          <input type="date" id="date">
      </div>
      <div class="mb-3">

      </div>
      <button type="submit" class="btn btn-primary">Применить</button>
    </form>

  </div>
</li>
</ul>
          
<form class="d-flex justify-content-sm-end">
  <input
    class="form-control mr-2"
    type="search"
    placeholder="Поиск"
    aria-label="Search"
  />
  <button class="btn btn-outline-success" type="submit">ОК</button>
</form>
{% endblock  %}

{% block content %}
<div class="starter-template text-center py-5 px-3">
  <img src="{% static '\images\1.png' %}" class="img-fluid" alt="logo">
  <p class="lead">База оформленных документов</p>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Название</th>
      <th scope="col">ЛПУ</th>
      <th scope="col">Аппарат</th>
      <th scope="col">Дата</th>
      <th scope="col">Статус</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>АктТ-12122024-987654</td>
      <td>ГАУЗ СО ГБ№24</td>
      <td>Парус</td>
      <td>12-12-2024</td>
      <td>готов</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a class="nav-link" href="{% url "act_technical:act_change" %}">АктT-15122024-УКРП-093-18</a></td>
      <td>ГАУЗ СО ГБ№24</td>
      <td>УниКоРД-МТ-Плюс</td>
      <td>15-12-2024</td>
      <td>готов</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>АктТ-08032025-12345</td>
      <td>ГАУЗ СО ГБ№24</td>
      <td>Маммоскан</td>
      <td>08-03-2025</td>
      <td>доработка</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Отчет-08032025-12345</td>
      <td>ГАУЗ СО ГБ№24</td>
      <td>Маммоскан</td>
      <td>08-03-2025</td>
      <td>доработка</td>
    </tr>
  </tbody>
</table>
{% endblock  %}

