p{% extends "base.html" %} {% load static %} {% block content %}
<div class="starter-template text-center py-5 px-3"></div>

<div class="container">
  <div class="row">
    <div class="col-5">
      <p class="text-center">
        {{actt.lpu.name}}
      </p>
      <p class="text-center">{{actt.lpu.index}}, {{actt.lpu.zip}}, г. {{actt.lpu.city}}, {{actt.lpu.adress}}</p>
      <p class="text-center">Тел. {{actt.lpu.phone}}</p>
    </div>
    <div class="col-2"></div>
    <div class="col">
      <p class="fs-6 text-center">АО ПТП «Медтехника»</p>
      <p class="text-center">620085, г. Екатеринбург, ул. Учителей, д. 30</p>
      <p class="text-center">Тел. (343) 380-80-70</p>
    </div>
  </div>
  <div class="starter-template text-center py-4 px-3"></div>
  <div class="row">
    <div class="col-3">
      <p class="text-center text-decoration-underline">г. {{actt.lpu.city}}</p>
    </div>
    <div class="col-6"></div>
    <div class="col-3">
      <p class="text-center text-decoration-underline">Дата: {{actt.creation_date|date:"d.m.Y\г."}}</p>
    </div>
  </div>

  <div class="row">
    <h4 class="text-center">АКТ № ____</h4>
    <h6 class="text-center fw-bold">
      технического состояния медицинской техники
    </h6>
  </div>
  <div class="row">
    <div class="col">
      <p class="text-start fw-bold">Комиссия в составе:</p>
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <p class="text-start">Представителя сервисного центра:</p>
    </div>
    <div class="col-auto">
      <p class="text-end fst-italic text-decoration-underline">{{actt.user}}</p>
    </div>
    <div class="row">
      <div class="col-auto">
        <p class="text-start">Главного инженера сервисного центра:</p>
      </div>
      <div class="col-auto">
        <p class="text-end fst-italic text-decoration-underline">
          Р.В.Амурского
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-start">
          с участием представителя учреждения / владельца
          _______________________________________
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-start">
          Проверила техническое состояние: {{actt.device.name}}
        </p>
      </div>

      <div class="row">
        <div class="col-auto">
          <p class="text-start">Модель:</p>
        </div>
        <div class="col-auto">
          <p class="text-start fst-italic text-decoration-underline">
            {{actt.device.model}}
          </p>
        </div>
        <div class="col-auto">
          <p class="text-start">заводской номер:</p>
        </div>
        <div class="col-auto">
          <p class="text-start fst-italic text-decoration-underline">
            {{actt.device.serial_number}}
          </p>
        </div>
        <div class="row">
          <div class="col-auto">
            <p class="text-start">завод-изготовитель:</p>
          </div>
          <div class="col-auto">
            <p class="text-start fst-italic text-decoration-underline">
              {{actt.device.manufacturer}}
            </p>
          </div>
          <div class="col-auto">
            <p class="text-start">страна:</p>
          </div>
          <div class="col-auto">
            <p class="text-start fst-italic text-decoration-underline">
              {{actt.device.country}}
            </p>
          </div>
          <div class="row">
            <div class="col-auto">
              <p class="text-start">дата изготовления:</p>
            </div>
            <div class="col-auto">
              <p class="text-start fst-italic text-decoration-underline">
                {{actt.device.year_of_manufacture}}
              </p>
            </div>
            <div class="col-auto">
              <p class="text-start">дата продажи:</p>
            </div>
            <div class="col-auto">
              <p class="text-start fst-italic text-decoration-underline">
                {{actt.device.year_of_sale}}
              </p>
            </div>
            <div class="col-auto">
              <p class="text-start">дата ввода в эксплуатацию:</p>
            </div>
            <div class="col-auto">
              <p class="text-start fst-italic text-decoration-underline">
                {{actt.device.commissioning_date}}
              </p>
            </div>
            <div class="starter-template text-center py-2 px-1"></div>
            <div class="row">
              <div class="col">
                <p class="text-start fw-bold">
                  При проверке изделия медицинской техники установлено:
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="text-start fst-italic text-decoration-underline">
                  {{actt.check_result}}
                </p>
              </div>
              <div class="starter-template text-center py-2 px-1"></div>
              <div class="row">
                <div class="col">
                  <p class="text-start fw-bold">Вероятные причины:</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p class="text-start fst-italic text-decoration-underline">
                    {{actt.probable_cause}}
                  </p>
                </div>
              <div class="starter-template text-center py-2 px-1"></div>
              <div class="row">
                <div class="col">
                  <p class="text-start fw-bold">Заключение комиссии:</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p class="text-start fst-italic text-decoration-underline">
                    {{actt.conclusion}}
                  </p>
                </div>
                <div class="row" style="font-size: 8px">
                  <div class="col-12">
                    <p class="text-start lh-sm">
                      Отпечатано в 2-х экземплярах:
                    </p>
                  </div>

                  <div class="col-12">
                    <p class="text-start lh-sm">
                      1. Учреждению /владельцу –1 экз.;
                    </p>
                  </div>

                  <div class="col">
                    <p class="text-start lh-sm">
                      2. Предприятию технического сервиса –1 экз.;
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <p class="text-start">
                      Представители АО «ПТП «Медтехника»:
                    </p>
                  </div>
                  <div class="col-7">
                    <p class="text-start">Представитель сервисного центра</p>
                  </div>
                  <div class="col-3">
                    <p class="text-end">_____________</p>
                  </div>
                  <div class="col-2">
                    <p class="text-start fst-italic text-decoration-underline">
                      {{actt.user}}
                    </p>
                  </div>
                  <div class="col-7">
                    <p class="text-end">Главный инженер сервисного центра</p>
                  </div>
                  <div class="col-3">
                    <p class="text-end">_____________</p>
                  </div>
                  <div class="col-2">
                    <p class="text-start fst-italic text-decoration-underline">
                      Р.В.Амурский
                    </p>
                  </div>
                  <div class="starter-template text-center py-4 px-3"></div>
                  <div class="row">
                    <div class="col-auto">
                      <p class="text-start">
                        Представители учреждения /владельца:
                      </p>
                    </div>
                    <div class="col-7">
                      <p class="text-start">__________________________________________</p>
                    </div>
                    <div class="col-3">
                      <p class="text-end">_____________</p>
                    </div>
                    <div class="col-2">
                      <p class="text-start fst-italic text-decoration-underline">
                        ________________________
                      </p>
                    </div>
                    <div class="col-7">
                      <p class="text-end">__________________________________________</p>
                    </div>
                    <div class="col-3">
                      <p class="text-end">_____________</p>
                    </div>
                    <div class="col-2">
                      <p class="text-start fst-italic text-decoration-underline">
                        ________________________
                      </p>
                    </div>
                </div>
              </div>

              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
