{% extends "base.html" %}
{% load static %}
{% block content %}


                   <!-- Форма загрузки изображений -->
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  
  <div class="mb-3">
    <label class="form-label">Добавить изображения</label>
    <input type="file" 
           class="form-control" 
           name="images" 
           multiple 
           accept="image/*">
  </div>
  
  <div class="mb-3">
    <label class="form-label">Описание (необязательно)</label>
    <input type="text" 
           class="form-control" 
           name="description">
  </div>
  
  <button type="submit" class="btn btn-primary">
    Загрузить изображения
  </button>
</form>

<!-- Подключение JS библиотек в конце body -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
$(document).ready(function() {
    $('#image-upload-form').on('submit', function(e) {
        e.preventDefault();
        var formData = new FormData(this);
        
        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                // Обновление галереи без перезагрузки
                $('#image-gallery').load(location.href + ' #image-gallery');
            }
        });
    });
});

        {% endblock %}