{% load static %}

<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
  <head>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} 
   
  </head>
 
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <div class="btn-group">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Денис Монахов</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Администрирование</a></li>
                  <li><a class="dropdown-item" href="#">Выход</a></li>
                </ul>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "main:index" %}">Главная</a>
              {% block body %}{% endblock body %}
            

        
          
        </div>
      </div>

    </nav>

    <main class="container">

        {% block content %}{% endblock %}
    </main>
    
  </body>
</html>
