{% load static %}

<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
  <head>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} 
   
  </head>
 
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <div class="btn-group">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Денис Монахов</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Администрирование</a></li>
                  <li><a class="dropdown-item" href="#">Выход</a></li>
                </ul>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Главная</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Создать новый акт</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Акт ввода в эксплуатацию</a></li>
                <li><a class="dropdown-item" href="{% url "act_technical:act_add" %}">Акт технического состояния</a></li>
                <li><a class="dropdown-item" href="#">Отчет о выполненой работе</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Фильтр</a>
              <div class="dropdown-menu">
                <form class="px-4 py-3">
                  <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option selected>ЛПУ</option>
                      <option value="1">ГАУЗ СО ГБ№24</option>
                      <option value="2">ГАУЗ СО ГБ№36</option>
                      <option value="3">ГАУЗ СО ГБ№7</option>
                    </select>

                  </div>
                  <div class="mb-6">
                      <label for="date">Выберите дату от</label>
                      <input type="date" id="date">
                      <label for="date">до</label>
                      <input type="date" id="date">
                  </div>
                  <div class="mb-3">

                  </div>
                  <button type="submit" class="btn btn-primary">Применить</button>
                </form>

              </div>
            </li>

          </ul>
          
          <form class="d-flex justify-content-sm-end">
            <input
              class="form-control mr-2"
              type="search"
              placeholder="Поиск"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">ОК</button>
          </form>
          
        </div>
      </div>

    </nav>

    <main class="container">
            <div class="starter-template text-center py-5 px-3">
              <img src="{% static '\images\1.png' %}" class="img-fluid" alt="logo">
              <p class="lead">База оформленных документов</p>
            </div>
      
        {% block content %}{% endblock %}
    </main>
    
  </body>
</html>
